* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    width: 75%;
    margin: auto;
    margin-top: 30px;
}

.liste-wrapper {
    display: flex;
    position: relative;
    justify-content: right;
}

.activites {
    margin-top: 40px;
    margin-bottom: 5px;

}

.liste {
    margin: 0 10px;
    font-weight: 100;
    font-size: smaller;
}

.footer1 {
    margin-right: 100px;
}

.footer2 {
    margin-right: 100px;
}

.footer3 {
    margin-right: 100px;
}

.barre-wrapper {
    display: flex;
    margin-top: 25px;
}

.localisation-wrapper {
    background-color: #F1F1F1;
    border-radius: 5px 0 0 5px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.booki {

    width: 100%;
    height: 100%;
}

.reservia-wrapper {
    display: flex;
    justify-content: left;
}

.wrap {
    margin-top: 15px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.reservia {
    font-family: monospace;
    font-size: large;
}

.color1 {
    color: black;
}

.onglets {
    display: flex;
    margin-bottom: 42px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin: 0 30px;
    border-radius: 30px;
}

.align {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icons {
    display: flex;
}

.background {
    background-color: blue;
    color: white;

}


.border {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.ligne0 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.economique-wrapper {
    width: 130px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 10px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    padding-right: 15px;
}

.familial-wrapper {
    width: 98px;
    height: 33px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.romantique-wrapper {
    width: 132px;
    height: 35px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}


.animaux-wrapper {
    width: 174px;
    height: 35px;
    border: 1px;
    border-style: solid;
    border-color: gray;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 16px;
}

.back {
    background-color: skyblue;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 37px;
}

.liste1 {
    margin-top: 10px;
    margin-left: 10px;
}

.color {
    color: #0C5EFA;
}

.click {
    transition-property: color, background-color;
}

.color3:hover {
    background-color: cyan;
}

.texte {
    border-radius: 30px;
    color: blue;
    border-color: gray;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 15px;
}

.logements {
    display: flex;
}

.bloc {
    margin-top: 25px;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

.bloc-support {
    margin-top: 25px;
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.first-bloc {
    background-color: #F1F1F1;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 'carte1 carte2 carte3'
        'carte4 carte5 carte6';
    gap: 15px;
}

.thirdbloc {
    border-radius: 10px;
    display: grid;
    grid-template-areas: 'cadre1'
        'cadre2';
    gap: 15px;
}

.firstbloc-wrapper {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 10px;
}

.second-bloc {
    padding: 10px;
    background-color: #F1F1F1;
    display: grid;
    grid-template-areas: 'carte7'
        'carte8' 'carte9';
    border-radius: 10px;
}

.support {
    display: grid;
    grid-template-areas: 'carte10 carte11 carte12 carte13';
    gap: 40px;
    padding: 10px;
    border-radius: 10px;
}


.carte1 {
    grid-area: 'carte1';
}


.carte2 {
    grid-area: 'carte2';
}

.carte3 {
    grid-area: 'carte3';
}


.carte5 {
    grid-area: 'carte5';

}

.carte4 {
    grid-area: 'carte4';
}

.carte6 {
    grid-area: 'carte6';
}

.cartee7 {
    grid-area: 'carte7';
}

.cartee8 {
    grid-area: 'cartee8';
}

.cartee9 {
    grid-area: 'cartee9';
}

.carteee10 {
    grid-area: 'carteee10';
}

.cadre111 {
    grid-area: 'cadre111';
}

.cadre112 {
    grid-area: 'cadre112';
}

.carteee12 {
    grid-area: 'cadre12';
}

.cadre131 {
    grid-area: 'cadre131';
}

.cadre132 {
    grid-area: 'cadre132';
}

.ligne1 {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;

}

.ligne2 {
    display: flex;
    justify-content: space-around;
    margin-top: 17px;

}

.carte {
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 5px;
    width: 200px;
    height: 200px;
}

.cadre {
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px;
    width: 200px;
    height: 150px;

}

.cartee {
    display: flex;
    padding: 5px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0 0 5px;
    height: 135px;
    width: 100%;
}

.carteee {
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    width: 232px;
    height: 316px;
}

.image-wrapper {
    height: 100px;
    width: 100%;
    box-shadow: 0 0 5px;
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.image-wrapper1 {
    background-image: url("image/Aubergedelacaniere.jpg");
}

.image-wrapper2 {
    background-image: url("image/Autelduport.jpg");

}

.image-wrapper3 {
    background-image: url("image/mouettes.jpg");
}

.image-wrapper4 {
    background-image: url("image/auteldelamer.jpg");
}

.image-wrapper5 {
    background-image: url("image/Aubergelepanier.jpg");
}

.image-wrapper6 {
    background-image: url("image/Autelchezamina.jpg");
}

.image-wrapper10 {
    background-image: url("image2/vieuxport.jpg");
}

.image-wrapper111 {
    background-image: url("image2/fortdespomegues.jpg");
}

.image-wrapper112 {
    background-image: url("image2/frioul.jpg");
}

.image-wrapper12 {
    background-image: url("image2/parcnationaldescalenques.jpg");
}

.image-wrapper131 {
    background-image: url("image2/notredamedelaguarde.jpg");
}

.image-wrapper132 {
    background-image: url("image2/parclomgchamp.jpg");
}

.image1 {
    height: auto;
    width: 100%;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 5px;
}


.star {
    margin-left: 5px;
    position: relative;
    top: 5px;
}

.image-wrapper-hori {
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px;
}

.image-wrapper7 {
    background-image: url("image/Autellesoleildumatin.jpg");
}

.image-wrapper8 {
    background-image: url("image/Aucoeurdel'eau.jpg");
}

.image-wrapper9 {
    background-image: url("image/Auteltoutbleuetblanc.jpg");
}

.block {
    margin-left: 8px;
    width: 60%;
    box-sizing: border-box;
}

.ligne3 {
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
    cursor: pointer;
}

.activite {
    margin-top: 10px;
    color: black;
}

.support1 {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 5px;
    margin-right: 70px;
    height: 235px;
    border-style: solid;
    border-color: gainsboro;
    box-shadow: 0 0 5px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.support3 {
    display: block;
    border-radius: 20px 20px 0 0;
    border-style: solid;
    border-color: gainsboro;
    border-style: solid;
    border-color: gainsboro;
    box-shadow: 0 0 5px;
    height: 100px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.image3 {
    width: 224px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 5px;
    height: 250px;
}

.image4 {
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 5px;
    width: 231px;
}

.align1 {
    margin-left: 7px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.image31 {
    width: 231px;
    height: 75px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 5px;
}

.align2 {
    margin-left: 7px;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.bloc1 {
    display: flex;
    background-color: #F0F0F0;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.propos {
    display: block;
    justify-content: space-between;
    margin-top: 10px;
}

.hebergements {
    display: block;
    justify-content: space-between;
    margin-top: 10px;
}

.assistance {
    display: block;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 10px;
}

.link {
    display: flex;
    margin-left: 33px;
}

.etoile1 {
    color: blue;
}

.logo {
    display: flex;
    color: black;
}


.hebergement {
    margin-top: 10px;
}


.liés2 {
    display: flex;
}

.liés1 {
    display: flex;
}

.foot {
    display: flex;
    justify-content: center;
    margin-left: 125px;
}

.foot-wrapper {
    display: flex;
}


@media (width <=630px) {
    .reservia-wrapper {
        display: flex;
        justify-content: center;
    }

    .liste-wrapper {
        justify-content: center;

    }

    .liste {
        font-size: x-large;
    }

    .hebergement {
        width: 50%;
        font-size: x-large;
    }

    .activite {
        width: 50%;
        justify-content: right;
        display: flex;
        font-size: x-large;
    }

    .align {
        display: flex;
        justify-content: left;
        font-size: xx-large;
    }

    .barre-wrapper {
        display: flex;
        justify-content: center;
    }

    .backgrounds {
        width: 33px;
        height: 309px;

    }

    .onglets {
        display: block;
    }

    .filtre-wrapper {
        display: flex;
        justify-content: left;
    }


    .link {
        margin-top: 30px;
    }

    .liés1 {
        display: flex;
    }

    .liés2 {
        display: flex;
    }

    .bloc {
        display: flex;
        flex-direction: column-reverse;
    }

    .cannebiere {
        width: 100%;
        margin-top: 20px;
    }

    .port {
        width: 100%;
        margin-top: 20px;
    }

    .mouettes {
        width: 100%;
        margin-top: 20px;
    }

    .mer {
        width: 100%;
        margin-top: 20px;
    }

    .panier {
        width: 100%;
        margin-top: 20px;
    }

    .amina {
        width: 100%;
        margin-top: 20px;
    }

    .soleil-matin {
        width: 100%;
        margin-top: 20px;
    }

    .chambre-dhote {
        width: 100%;
        margin-top: 20px;
    }

    .bleu-et-blanc {
        width: 100%;
        margin-top: 20px;
    }

    .support3 {
        width: 100%;
    }

    .support33 {
        width: 100%;
    }

    .support1 {
        width: 100%;
    }

    .ligne1 {
        display: block;
        width: 100%;
    }

    .ligne2 {
        display: block;
        width: 100%;
    }

    .port {
        width: 100%;
    }
}

@media (width <=1180px) {
    .first-bloc {
        grid-template-areas: 'carte1 carte2'
            'carte3 carte4'
            'carte5 carte6';
        gap: 10px;
        display: grid;
    }

    .liés1 {
        display: flex;
    }

    .liés2 {
        display: flex;
        margin-top: 20px;
    }

    .onglets {
        display: block;
    }

    .support {
        display: grid;
        grid-template-areas: 'carte10 carte11' ' carte12 cate13';
        gap: 40px;
        padding: 10px;
        border-radius: 10px
    }

    .cadre {
        border-radius: 20px;
        padding: 5px;
        box-shadow: 0 0 5px;
        width: 350px;
    }

    .carteee {
        width: 400px;
    }
}


@media (width <=1070px) {
    .foot {
        display: block;
    }

    .footer3 {
        align-items: center;
    }

    .assistance {
        align-items: center;
    }
}

@media (width <=985px) {
    .first-bloc {
        grid-template-areas: 'carte1' ' carte2'
            'carte3' ' carte4'
            'carte5 ' 'carte6';
        gap: 10px;
        display: grid;
        margin-top: 20px;
    }

    .bloc {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .carte {
        width: 100%;
    }

    .foot-wrapper {
        display: flex;
    }
}

@media (width <=532px) {
    .support {
        display: grid;
        grid-template-areas: 'carte10' 'carte11' ' carte12' ' cate13';
    }

    .cadre {
        width: 100%;
    }

    .support1 {
        width: 100%;
    }

    .support3 {
        width: 100%;
    }

    .thirdbloc {
        width: 100%;
    }

    .carteee {
        width: 100%;
    }

    .bloc1 {
        width: 100%;
    }

    .foot {
        justify-content: center;
    }

    .foot-wrapper {
        display: block;
    }
}